
*{
    box-sizing: border-box;
    padding: 0px;
    border: 0;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    --fontRegular: font-family: 'Chakra Petch', regular;
    --fontBold: font-family: 'Chakra Petch', bold;
    --fontColor: #110038;
}

.btn{
    font-family: var(--fontRegular);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    cursor: pointer;
}

.btn-active{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    color: var(--fontColor);
}

.btn-inactive{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    color: #B4B4B4;
}
    
.wrapper{
    display: grid;
    margin: 50px 50px;
}

.rectangle-subtitle{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    width: 100%;
    padding: .5rem;
}

.rectangle-subtitle h5{
    color: var(--fontColor);
    font-family: var(--fontRegular);
    letter-spacing: 0;
    font-size: 14px;
}

/* SECTION Some appendable classes */

.not-show {display: none;}

.show{display: block;}

.gif-size{
    width: 100%;
    height: 200px;
}

/* ==================================================
======== NAV BAR SECTION IN SEPARATE FILE ========
====================================================*/

/* SECTION SEARCH */

.search{
    margin-top: 2rem;
    padding: 1.5rem;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.topHeader-day{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); 
}

.topHeader-day h4{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.search-box{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

#search-input{
    flex-basis: 85%;
    padding: 1rem;
    font-size: 1em;
}

#button-search{
    flex-basis: 10%;
    cursor: pointer;
}

#button-search img{
    margin-right: 10px;
}

/* Search History */

.search-history{
    display: flex;
}

.button-history{ /* appendable class */
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: var(--fontRegular);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
    padding: .5em 1em;
    cursor: pointer;
    margin: 5px;
}

/* Search Toggle (start)*/

.search-toggle{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 1em;
    display: flex;
    flex-direction: column;
    /*position: absolute; */ /* TODO Absolute position this toggle without affecting its width and (its original) position */
    display: none;
}

.search-toggle button{
    margin: 5px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    text-align: start;
    padding: .5rem;
    width: 84%;
    position: relative;
    left: 12px;
    cursor: pointer;
}

.search-toggle button:hover{
    border: 1px solid var(--fontColor);
}

/* Search Toggle (end) */

/* SECTION MAIN - GIF suggestion */

.top-container{
    margin-top: 3rem;
}

/* rectangle-subtitle{} */

/* rectangle-subtitle h5 {} */

.gif-suggestion{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.gif{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "gif-title button"
    "gif gif";
    position: relative;
}

.gifDay{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.gif h5{
    grid-area: gif-title;
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 5px;
    width: max-content;
}

.btnSuggest{
    position: absolute;
    top: 80%;
    left: 3%;
    cursor: pointer;
    font-family: var(--fontRegular);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 5px 15px;
}

.btnSuggestDay{ /* NOTE Appendable class */
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

/* FIXME : Width and height go to the appendable classes section */
.gif-image{
    background-image: none;
    grid-area: gif;
    width: 100%;
    height: 200px;
}

.btn-close{
    justify-self: end;
    grid-area: button;
    cursor: pointer;
}

/* SECTION MAIN | GIF trends */

/* rectangle-subtitle{} */

/* rectangle-subtitle h5 {} */

.gif-trends{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
}

.gif-span1{ /* TODO Appendable class */
    grid-column-start: span 2;
}

.gif-span2{ /* TODO Appendable class */
    grid-column: 3 / span 2;
}

.gif-span3{
    grid-column-start: span 3;
}

.trendGif{
    height: 200px;
    width: 100%;
}

.trendGif:hover{
    border: 1px solid var(--fontColor);
}

.hover-rectangle{ /* Appendable class */
    width: 100%;
    height: 10px;
    background-color: #284F99;
    top: 100%;
    display: none; 
}

/* SECTION MAIN - GIF Search Results*/

.gif-results{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
}

.searchGif{
    height: 200px;
    width: 100%;
}

.searchGif:hover{
    border: 1px solid var(--fontColor);
}

.searchInactive {
    opacity: 0;
    visibility: hidden;
}

.searchActive {
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    visibility: visible;
}


/* MEDIA QUERIES SECTION */

@media(min-width:1200px){
}

@media(max-width:1199px) and (min-width: 992px){
}

@media(max-width:991px) and (min-width: 768px){
}

@media(max-width:767px){
}
