
*{
    box-sizing: border-box;
    padding: 0px;
    border: 0;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

:root{
    --fontRegular: font-family: 'Chakra Petch', regular;
    --fontBold: font-family: 'Chakra Petch', bold;
    --fontColor: #110038;
}

.btn{
    font-family: var(--fontRegular);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
}

.btn-active{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    color: var(--fontColor);
}

.btn-inactive{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    color: #B4B4B4;
}
    
.wrapper{
    display: grid;
    margin: 50px 50px;
}

/* SECTION UPPER BAR */

.upper-bar{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
}

/* SECTION TOOL BAR */

.tool-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "logo options";
}

.tool-bar .logo{
    grid-area: logo;
}

.tool-bar .gif-options{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0px;
    grid-area: options;
    align-self: end;
}

.tool-bar .gif-options button{
    padding: .5rem 30px;
}

.gif-options a{
    text-align: end;
}

.gif-options select{
    justify-self: end;
}

.gif-options button{
    justify-self: end;
}

#theme-select{
    width: 20px;
}

/* SECTION SEARCH */

.search{
    margin-top: 2rem;
    padding: 1.5rem;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.search .top-header{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); 
    
}

.search .search-box{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

#search-input{
    flex-basis: 85%;
    padding: 1rem;
}

#button-search{
    flex-basis: 10%;
}

/* SECTION MAIN */

.top-container{
    margin-top: 3rem;
}

.top-container .rectangle-one{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    width: 100%;
    padding: .5rem;
}

.top-container .rectangle-one h5{
    color: var(--fontColor);
    font-family: var(--fontRegular);
    letter-spacing: 0;
    font-size: 14px;
}



/* SECTION  MEDIA QUERIES */

@media(min-width:1200px){
}

@media(max-width:1199px) and (min-width: 992px){
}

@media(max-width:991px) and (min-width: 768px){
}

@media(max-width:767px){
}
