
*{
    box-sizing: border-box;
    padding: 0px;
    border: 0;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

:root{
    --fontRegular: font-family: 'Chakra Petch', regular;
    --fontBold: font-family: 'Chakra Petch', bold;
    --fontColor: #110038;
}

.btn{
    font-family: var(--fontRegular);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
}

.btn-active{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    color: var(--fontColor);
}

.btn-inactive{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    color: #B4B4B4;
}
    
.wrapper{
    display: grid;
    margin: 50px 50px;
}

.rectangle-subtitle{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    width: 100%;
    padding: .5rem;
}

.rectangle-subtitle h5{
    color: var(--fontColor);
    font-family: var(--fontRegular);
    letter-spacing: 0;
    font-size: 14px;
}

/* SECTION Appendable classes */

.not-show {display: none;}

.show{display: block;}

.gif-size{
    width: 100%;
    height: 200px;
}

/* SECTION UPPER BAR */

.upperBar-day{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 var(--fontColor);
}

.upperBar-day h4{
    font-family: var(--fontRegular);
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
}

/* SECTION TOOL BAR */

.tool-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "logo options";
}

.logo{
    grid-area: logo;
}

.gif-options{
    display: flex;
    grid-area: options;
    align-self: end;
    justify-self: end;  
}

.gif-options span{
    text-decoration: underline solid var(--fontColor);
}

.gif-options button{
    padding: .5rem 30px;
    margin: 0 .5em;
}

.gif-options a{
    text-align: end;
}

.gif-options a:hover{
    border: 1px solid #110038;
}

.gif-options select{
    justify-self: end;
}

.gif-options button{
    justify-self: end;
}

#theme-dropdown{ /* TODO Fix the width that comes with absolute positioning element */
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: .5em;
    flex-direction: column;
    position: absolute;
}

.inactive{
    opacity: 0;
}

.active{
    display: block;
    display: flex;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#theme-dropdown button{
    text-align: start;
    padding: 10px 15px;
    margin: 5px;
    font-family: var(--fontRegular);
    font-size: 16px;
    color: var(--fontColor);
    letter-spacing: 0;
    line-height: 22px;
}

.theme-active{ /* NOTE Appendable class */
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.theme-inactive{ /* NOTE Appendable class */
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

/* SECTION SEARCH */

.search{
    margin-top: 2rem;
    padding: 1.5rem;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.topHeader-day{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); 
}

.topHeader-day h4{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.search-box{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

#search-input{
    flex-basis: 85%;
    padding: 1rem;
    font-size: 1em;
}

#button-search{
    flex-basis: 10%;
    cursor: pointer;
}

#button-search img{
    margin-right: 10px;
}

/* Search Toggle (start)*/

.search-toggle{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 1em;
    display: flex;
    flex-direction: column;
    /*position: absolute; */ /* TODO Absolute position this toggle without affecting its width and (its original) position */
    display: none;
}

.search-toggle > button{
    text-align: start;
    padding: .5rem;
    width: 84%;
    position: relative;
    left: 12px;
    cursor: pointer;
}

.search-toggle button{
    margin: 5px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.search-toggle button:hover{
    border: 1px solid #110038;
}

/* Search Toggle (end) */

/* SECTION MAIN - GIF suggestion */

.top-container{
    margin-top: 3rem;
}

/* rectangle-subtitle{} */

/* rectangle-subtitle h5 {} */

.gif-suggestion{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.gif{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "gif-title button"
    "gif gif";
    position: relative;
}

#btnSuggest{
    position: absolute;
    top: 80%;
    left: 3%;
    cursor: pointer;
    font-family: var(--fontRegular);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 5px 15px;
}

.btnSuggestDay{ /* NOTE Appendable class */
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

/* FIXME : Width and height go to the appendable classes section */
#gif-image1, #gif-image2, #gif-image3, #gif-image4{
    background-image: none;
    grid-area: gif;
    width: 100%;
    height: 200px;
    border: solid lightslategray 1px;
}

.gif h5{
    grid-area: gif-title;
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 5px;
}

#btn-close{
    justify-self: end;
    margin-right: 3px;
    grid-area: button;
    cursor: pointer;
}

/* SECTION MAIN | GIF trends */

/* rectangle-subtitle{} */

/* rectangle-subtitle h5 {} */

.gif-trends{
    margin-top: 1em;
    border: solid 1.5px crimson;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
}

.gif-span1{ /* TODO Possible appendable class */
    grid-column-start: span 2;
}

.gif-span2{ /* TODO Possible appendable class */
    grid-column: 3 / span 2;
}

.gif-trends > img{
    border: solid 2px black;
    background-color: aquamarine;
}


/* MEDIA QUERIES SECTION */

@media(min-width:1200px){
}

@media(max-width:1199px) and (min-width: 992px){
}

@media(max-width:991px) and (min-width: 768px){
}

@media(max-width:767px){
}
