
/* ====== Global Styling (Module for creating GIFS) ======= */

.create-container1{
    margin: auto;
    margin-top: 4em;
    width: 50%; /* 684px; */
}

.box-instructions{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    padding: 2px;
    display: grid;
    grid-template-areas: 
    "title button";
}

.box-instructions h5{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    grid-area: title;
}

.box-instructions img{
    grid-area: button;
    justify-self: end;
    margin-right: 3px;
    cursor: pointer;
}

.recordVideo{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 1em;
}

#videoTest{
    width: 100%;
}

.button-container1{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

/* ====== Global Styling (Module for creating GIFS) ======= */

.logo-grid{ /* Appendable class for changing nav bar based on users clicking on button "Create GIFS" */
    display: flex;
}

.logo-grid img{
    margin-right: 1em;
    cursor: pointer;
}

.myGifs{
    margin-top: 3rem;
}

.myGifs-title{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    padding: .5rem;
}

.myGifs-content{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.gif-span1{ /* TODO Appendable class */
    grid-column-start: span 2;
}

/* BOX - CREATE GIF */

.create-container{
    margin: auto;
    margin-top: 4em;
    width: 70%; /* 684px; */
}

.create-container h5{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    padding: 2px;
}

.createGif{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 4em;
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}

.createGif span{
    font-family: var(--fontBold);
    font-weight: 700;
}

.createGif img{
    position: relative;
    top: -26px;
    right: 3em;
}

.createGif p, ul, button{
    bottom: 2em;
}

#instruction{
    font-size: 15.5px;
    color: var(--fontColor);
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 700;
}

.list{
    margin-top: .5em;
}

.button-container{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.button-container button{
    padding: .5rem 30px;
    margin: 0 .5em;
    cursor: pointer;
}

.btn-cancel{
    background: #FFF4FD;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btn-cancel:hover{
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

.btn-start{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btn-start:hover{
    background: #E6BBE2;
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

/* GIF CAPTURE - SECOND SCREEN */

.button-container1 .btn-capture{
    padding: .5rem 30px;
    cursor: pointer;
}

.btn-camera{
    padding: .5rem 18px;
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    background: url(../../../assets/camera.svg) no-repeat center;
    background-size: 45%;
}

.btn-camera:hover{
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

.btn-capture{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btn-capture:hover{
    background: #E6BBE2;
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

/* GIF CAPTURING - THIRD SCREEN */

#videoRecord{
    width: 100%;
}

.btn-lens{
    padding: .5rem 18px;
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    background: url(../../../assets/recording.svg) no-repeat center;
    background-size: 45%;
    background-color:#FF6161;;
}

.btn-lens:hover{
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

.btn-stop{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: .5rem 30px;
    cursor: pointer;
    background: #FF6161;
    color: #FFFFFF;
}

.btn-stop:hover{
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

.record-timer{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: fit-content;
    height: fit-content;
    padding: .5em 1.5em;
    position: relative;
    top: 50px;
}

/* GIF OVERVIEW - FOURTH SCREEN */

.overview-container{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin: auto;
    margin-top: 4em;
    width: 70%; /* 684px; */
}

.overview-title{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.overview-title h5{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.overview-content{
    padding: 1em;
}

#overview-gif{
    width: 100%;
}

.overview-controls{
    display: grid;
    grid-auto-flow: column;
    margin-top: 2em;
}

.gif-duration{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: fit-content;
    height: fit-content;
    padding: .5em 1.5em;
}

.gif-play{
    display: flex;
}

#btn-play{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 3px 8px;
    height: fit-content;
}

.gif-progress{
    background: #B4B4B4;
    box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
    flex-basis: 80%;
    height: fit-content;
}

.gif-progress span{
    background: #999999;
}

.overview-buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.overview-buttons button{
    padding: .5rem 30px;
    margin: 0 .5em;
    cursor: pointer;
}

#repeat-capture{
    background: #FFF4FD;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#uploadGif{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

/* GIF UPLOAD - FIFTH SCREEN */

.uploading-container{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin: auto;
    margin-top: 4em;
    width: 60%; /* 684px; */
}

.uploading-title{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    display: grid;
    grid-template-columns: auto auto;
}

.uploading-title h5{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.uploading-title img{
    justify-self: end;
    margin-right: 3px;
    cursor: pointer;
}

.uploading-background{
    padding: .5em;
}

.uploading-content{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    padding: 8em 0 8em;
}

.part1 h4{
    margin-top: 1em;
    font-family: var(--fontBold);
    font-size: 16px;
    color: var(--fontColor);
    letter-spacing: 0;
    line-height: 22px;
}

.uploading-content .part2{
    margin-top: 2em;
    justify-self: center;
    justify-items: center;
}

.gif-loading{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid var(--fontColor); /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.part2 h5{
    margin-top: 1em;
    font-family: var(--fontRegular);
    font-size: 12px;
    color: rgba(17,0,56,0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
}

.part2 h5 span{
    text-decoration: line-through;
}

.uploading-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

#upload-cancel{
    background: #FFF4FD;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: .5rem 30px;
}

/*
    GIF Final Results - Sixth Screen
*/

.results-container{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin: auto;
    margin-top: 4em;
    width: 70%; /* 684px; */
}

.results-title{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    display: grid;
    grid-template-columns: auto auto;
}

.results-title h4{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.results-title img{
    justify-self: end;
    margin-right: 3px;
    cursor: pointer;
}

.results-content{
    padding: 2.5em;
    display: grid;
    grid-template-columns: auto auto;
}

.results-instructions{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.results-instructions button{
    height: fit-content;
    padding: 11px 30px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

@media(min-width:1200px){
}

@media(max-width:1199px) and (min-width: 992px){
}

@media(max-width:991px) and (min-width: 768px){

    .results-content{
        grid-template-areas:
        "image"
        "instructions";
        justify-content: center;
    }

    #resulting-gif{
        grid-area: image;
        width: 100%;
    }

    .results-instructions{
        grid-area: instructions;
        margin-top: 2em;
    }
}

@media(max-width:767px){

    .results-content{
        grid-template-areas:
        "image"
        "instructions";
        justify-content: center;
    }

    #resulting-gif{
        grid-area: image;
        width: 100%;
    }

    .results-instructions{
        grid-area: instructions;
        margin-top: 2em;
    }
}

/* Appendable */
.hide{
    display: none;
}
/* Appendable */