
/* ====== Global Styling (Module for creating GIFS) ======= */

.create-container1{
    margin: auto;
    margin-top: 4em;
    width: 50%; /* 684px; */
}

.box-instructions{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    padding: 2px;
    display: grid;
    grid-template-areas: 
    "title button";
}

.box-instructions h5{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    grid-area: title;
}

.box-instructions img{
    grid-area: button;
    justify-self: end;
    margin-right: 3px;
    cursor: pointer;
}

.recordVideo{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 1em;
}

#videoTest{
    width: 100%;
}

.button-container1{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

/* ====== Global Styling (Module for creating GIFS) ======= */


.myGifs{
    margin-top: 3rem;
}

.myGifs-title{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    padding: .5rem;
}

.myGifs-content{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.gif-span1{ /* TODO Appendable class */
    grid-column-start: span 2;
}

/* BOX - CREATE GIF */

.create-container{
    margin: auto;
    margin-top: 4em;
    width: 70%; /* 684px; */
}

.hide{
    display: none;
}

.create-container h5{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    padding: 2px;
}

.createGif{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 4em;
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}

.createGif span{
    font-family: var(--fontBold);
    font-weight: 700;
}

.createGif img{
    position: relative;
    top: -26px;
    right: 3em;
}

.createGif p, ul, button{
    bottom: 2em;
}

#instruction{
    font-size: 15.5px;
    color: var(--fontColor);
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 700;
}

.list{
    margin-top: .5em;
}

.button-container{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.button-container button{
    padding: .5rem 30px;
    margin: 0 .5em;
    cursor: pointer;
}

.btn-cancel{
    background: #FFF4FD;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btn-cancel:hover{
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

.btn-start{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btn-start:hover{
    background: #E6BBE2;
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

/* GIF CAPTURE - SECOND SCREEN */

.button-container1 .btn-capture{
    padding: .5rem 30px;
    cursor: pointer;
}

.btn-camera{
    padding: .5rem 18px;
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    background: url(../../../assets/camera.svg) no-repeat center;
    background-size: 45%;
}

.btn-camera:hover{
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

.btn-capture{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btn-capture:hover{
    background: #E6BBE2;
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

/* GIF CAPTURING - THIRD SCREEN */

.btn-lens{
    padding: .5rem 18px;
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    background: url(../../../assets/recording.svg) no-repeat center;
    background-size: 45%;
    background-color:#FF6161;;
}

.btn-lens:hover{
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}

.btn-stop{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: .5rem 30px;
    cursor: pointer;
    background: #FF6161;
    color: #FFFFFF;
}

.btn-stop:hover{
    border-style: dotted dotted;
    outline:solid var(--fontColor) .5px;
}