
*{
    box-sizing: border-box;
    padding: 0px;
    border: 0;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

:root{
    --fontRegular: font-family: 'Chakra Petch', regular;
    --fontBold: font-family: 'Chakra Petch', bold;
    --fontColor: #110038;
}

.btn{
    font-family: var(--fontRegular);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
}

.btn-active{
    background: #F7C9F3;
    border: 1px solid var(--fontColor);
    color: var(--fontColor);
}

.btn-inactive{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    color: #B4B4B4;
}
    
.wrapper{
    display: grid;
    margin: 50px 50px;
}

.rectangle-subtitle{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    width: 100%;
    padding: .5rem;
}

.rectangle-subtitle h5{
    color: var(--fontColor);
    font-family: var(--fontRegular);
    letter-spacing: 0;
    font-size: 14px;
}

/* SECTION Appendable classes */

.not-show {display: none;}

.show{display: block;}

.gif-size{
    width: 100%;
    height: 200px;
}

/* SECTION UPPER BAR */

.upper-bar{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
}

.upper-bar h4{
    font-family: var(--fontRegular);
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
}

/* SECTION TOOL BAR */

.tool-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "logo options";
}

.logo{
    grid-area: logo;
}

.gif-options{
    display: flex;
    grid-area: options;
    align-self: end;
    justify-self: end;  
}

.gif-options span{
    text-decoration: underline solid #110038;
}

.gif-options button{
    padding: .5rem 30px;
    margin: 0 .5em;
}

.gif-options a{
    text-align: end;
}

.gif-options select{
    justify-self: end;
}

.gif-options button{
    justify-self: end;
}

#theme-select{
    width: 20px;
}

.dropdown-content{
    margin-top: .5rem;
    position: absolute;
    z-index: 5;
    background: #F7C9F3;
}

.dropdown-content a{
    display: flex;
}

/* SECTION SEARCH */

.search{
    margin-top: 2rem;
    padding: 1.5rem;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.top-header{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); 
}

.top-header h4{
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.search-box{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

#search-input{
    flex-basis: 85%;
    padding: 1rem;
    font-size: 1em;
}

#button-search{
    flex-basis: 10%;
}

#button-search img{
    margin-right: 10px;
}

/* SECTION MAIN - GIF suggestion */

.top-container{
    margin-top: 3rem;
}

/* rectangle-subtitle{} */

/* rectangle-subtitle h5 {} */

.gif-suggestion{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.gif{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "gif-title button"
    "gif gif";
    position: relative;
}

#gif-button{
    position: absolute;
    top: 80%;
    left: 3%;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: var(--fontRegular);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 5px 15px;
    cursor: pointer;
}

/* FIXME : Width and height go to the appendable classes section */
#gif-image1, #gif-image2, #gif-image3, #gif-image4{
    background-image: none;
    grid-area: gif;
    width: 100%;
    height: 200px;
    border: solid lightslategray 2px;
}

.gif h5{
    grid-area: gif-title;
    font-family: var(--fontBold);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 5px;
}

#btn-close{
    justify-self: end;
    margin-right: 3px;
    grid-area: button;
    cursor: pointer;
}

/* MEDIA QUERIES SECTION */

@media(min-width:1200px){
}

@media(max-width:1199px) and (min-width: 992px){
}

@media(max-width:991px) and (min-width: 768px){
}

@media(max-width:767px){
}
